* {
  box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 0;
}

.container {
  height: 960px;
  width: 960px;
  margin: 10px;
  line-height: 0;

}

.square {
  border: 1px solid black;
  display: inline-block;
}

.clear-grid {
  font-size: 10px;
  margin: 10px;
  line-height: 10px;
}